html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-size: 14px;
	font-family: Avenir Next;
	background-color: #000;
	color:#fff;
}

body {
	margin: 0;
	height: 100%;
	font-family: Avenir Next;
	overflow: hidden;
}

.window {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	background-color: #26606B;
	position: absolute;
	top: 0;
	left: 0;
}

form { 
	background: #26606B;
	bottom: 5vh; 
	width:100vw;
	position: fixed; 
	font-family: Avenir Next;
	text-align: center;
}

.formInput { 
	border: 0; 
	padding: 10px; 
	width: 70vw; 
	display: inline-block;
	font-family: Avenir Next;  
}

.formButton { 
	background: #2D9E89; 
	color: #fff;
	width: 10vw;
	border: none; 
	margin-left: 5px;
	padding-top: 9px;
	padding-bottom: 9px;
	display: inline-block;
	border-radius: 5px;
	font-family: Avenir Next;
	font-size:0.9em;
}

.formButton:hover{
	cursor: pointer;
}

.messageContainer{
	max-height:73vh;
	width: 100vw;
	overflow: hidden;
	overflow-y:auto;
	text-align: center;
}

#conversation { 
	margin:0;
	padding:0;
	padding-top:10px;
	color:white;
	white-space:pre-wrap; 
	width:80vw;
	display: inline-block;
	text-align: left
}

#messages li { 
	padding:5px;
	width:80vw;
	display: inline-block;
	text-align: left;
}

#messages li:nth-child(odd) {
	background: #eee;
	text-align: left;
}

#chat{
	background-color:blue;
}

.header {
	width:100vw;
	position: relative;
	top:0;
	left:0;
	height:50px;
}

.hackroulette_header {
	position: absolute;
	top:20px;
	left:6vw;
	font-size: 1.3em;
	font-weight: bold;
	letter-spacing: 0.1em;
	transition: all 0.2s linear;
	color:white;
}

.hackroulette_header:hover{
	color: #052d43;
	cursor: pointer;
}

.nextChat{
	position: absolute;
	top:20px;
	right:6vw;
	transition: all 0.2s linear;
	color:white;
}

.nextChat:hover{
	color: #052d43;
	cursor: pointer;
}

#topic_wrapper {
	text-align: center;
}

#topic {
	width: 80vw;
	height: 20px;
	display: inline-block;
	background-color: #2D9E89;
	color:white;
	margin-top:5px;
	margin-bottom:5px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 100px;
	border: 2px solid #2D9E89;
}