form { 
	background: #1296E0;
	bottom: 0;
	width: 80%; 
	margin-left:5%; 
	position: fixed; 
	bottom: 0; 
}
form input { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%;  
}
form button { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px;
}
#messages { 
	list-style-type: none;  
	width: 73%; 
	margin-left:4%; 
	padding: 0; 
	color:black;
	white-space:pre-wrap; 
}
#messages li { 
	padding: 5px 
}
#messages li:nth-child(odd) {
	background: #eee;
}
#chat{
	background-color:blue;
}