form { 
	background: #1296E0;
	bottom: 5vh; 
	margin-left:5%; 
	position: fixed; 
	font-family: Avenir Next;
}
form input { 
	border: 0; 
	padding: 10px; 
	width: 80vw; 
	display: inline-block;
	font-family: Avenir Next;  
}
form button { 
	width: 10vw;
	background: rgb(130, 224, 255); 
	border: none; 
	margin-left: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	display: inline-block;
	border-radius: 5px;
	font-family: Avenir Next;
	font-size:0.9em;
}
#messages { 
	list-style-type: none;  
	padding: 0; 
	color:black;
	white-space:pre-wrap; 
	width:80vw;
	display: inline-block;
}
#messages li { 
	padding: 5px;
	width:80vw;
	display: inline-block;
}
#messages li:nth-child(odd) {
	background: #eee;
}
#chat{
	background-color:blue;
}
#users_waiting_wrapper {
	position: absolute;
	left: 85vw;
	top: -40vh;
}
#users_waiting_list {
	list-style-type: none;
	padding: 0;
	text-align: left;
}
#client_list_item {
	color: #FFDD2E;
}