html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-size: 14px;
	font-family: Avenir Next;
	background-color: #000;
	color:#fff;
	text-align: center;
}

body {
	margin: 0;
	height: 100%;
	font-family: Avenir Next;
	overflow: hidden;
}

section {
	height: 100%;
}

canvas {
	display: block;
	vertical-align: bottom;
}

@font-face {
    font-family: 'bebas';
    src: url('bebas___-webfont.eot');
    src: url('bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas___-webfont.woff2') format('woff2'),
         url('bebas___-webfont.woff') format('woff'),
         url('bebas___-webfont.ttf') format('truetype'),
         url('bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#particles-js {
	opacity: 0.3;
	background-color: #26606B;
	height: 100%;
}

.window {
	margin: 0px;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.contentContainer{
	position: absolute;
	top:50vh;
	left:0;
	transform: translateY(-50%);
}

.title {
	font-size: 5.5em;
	font-family: 'bebas', Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	visibility: hidden;
	width:100vw;
}

.subtitle {
	font-weight:100;
	font-size: 1.5em;
	visibility: hidden;
	margin-top:5vh;
}

.joinBuffer {
	margin-top:40px;
	margin-bottom:20px;
	width:100vw;
}

.joinButton {
	color:#fff;
	border: 1px solid #A1FFFC;
	width: 18vw;
	height: 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s cubic-bezier(0.645,.045,.355,1);
	position: relative;
	top: 0;
	left: 0;
	visibility: hidden;
}

.joinButtonBuffer {
	width: calc(18vw + 1px);
	padding-top: 12px;
	padding-bottom: 8px;
	height: 21px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 100px;
	display: inline-block;
	overflow: hidden;
	visibility: hidden;
	position: relative;
	top: -2px;
	left: -1px;
	transition: all .4s cubic-bezier(0.645,.045,.355,1);
}

.skew {
	background: #A1FFFC;
	visibility: hidden;
	position: absolute;
	z-index: -1;
	opacity: 0.9;
	top: 0px;
	bottom: 0px;
	left: 50%;
	right: 50%;
	transform: skewX(10deg);
	-webkit-transform: skewX(10deg);
	-ms-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;

}

.joinButton:hover .skew {
	background-color: #D0FFFE;;
	visibility: visible;
	position: absolute;
	left: 0%;
	right: 0%;
}

.joinButton:hover .joinButtonBuffer {
	width: 20vw;
}

.joinButton:hover {
	color: #062d42;
	border-color: #D0FFFE;;
	font-weight: bold;
	cursor: pointer;
	width: 20vw;
}

/* ------------- LOADING PAGE ----------- */

.backgroundColor {
	width: 100vw;
	height: 100vh;
	background-color: #1296E0;
	opacity: 0.7;
}

.lineBuffer {
	height: 25vh;
	width: 100vw;
	position: relative;
	top: 0;
	left: 0;
}

.loadingLine {
	width: 80vw;
	height: 20px;
	border: 1px solid white;
	border-radius: 100px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}

.loadingText {
	position: absolute;
	top: 0;
	right: 29vw;
	width: 120px;
	display: inline-block;
	z-index: 2;
	color: white;
}

.startButton {
	width: 20vw;
	height: 40px;
	border: 1px solid white;
	border-radius: 100px;
	display: inline-block;
	visibility: visible;
	position: relative;
	top: 0;
	left: 0;
	text-decoration: none;
	color: #fff;
}

.startButtonBuffer {
	width: calc(20vw + 1px);
	padding-top: 10px;
	padding-bottom: 10px;
	height: 21px;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 100px;
	display: inline-block;
	overflow: hidden;
	visibility: visible;
	position: relative;
	top: -2px;
	left: -1px;
	transition: 0.3s all linear;
	text-decoration: none;
}

.startButton:hover {
	cursor: pointer;
	color: #1296E0;
}

.startButton:hover .skew {
	position: absolute;
	left: 0;
	right: 0;
	visibility: visible;
}

.dataText {
	position: absolute;
	top: -2vh;
	left: 28vw;
	width: 20vw;
	text-align: left;
	font-size: 1.1em;
}

.crystal {
	width: 100px;
}

.stand {
	width: 100px;
}
