html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-size: 14px;
	font-family: Avenir Next;
	background-color: #000;
	color:#fff;
}

body {
	margin: 0;
	height: 100%;
	font-family: Avenir Next;
	overflow: hidden;
}

section {
	height: 100%;
}

@font-face {
    font-family: 'bebas';
    src: url('bebas___-webfont.eot');
    src: url('bebas___-webfont.eot?#iefix') format('embedded-opentype'),
         url('bebas___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

#particles-js {
	opacity: 0.3;
	background-color: #26606B;
	height: 100%;
}

.window {
	margin: 0px;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
}

.contentContainer{
	position: absolute;
	top: 53vh;
	left: 0;
	transform: translateY(-50%);
}

.title {
	text-align: center;
	font-size: 5.5em;
	font-family: 'bebas', Arial, Helvetica, sans-serif;
	letter-spacing: 0.03em;
	width: 100vw;
}

#start_button_wrapper {
	position: absolute;
	text-align: center;
	margin-bottom: 20px;
	width: 100vw;
	top: 55vh;
}

.backgroundColor {
	width: 100vw;
	height: 100vh;
	background-color: #26606B;
	opacity: 0.7;
}

.lineBuffer {
	height: 25vh;
	width: 100vw;
	position: relative;
	top: 0;
	left: 0;
}

.loadingLine {
	width: 80vw;
	height: 20px;
	border: 1px solid white;
	border-radius: 100px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index: 1;
}

.loadingText {
	position: absolute;
	top: 7vh;
  	right: 45vw;
	width: 120px;
	display: inline-block;
	z-index: 2;
	color: white;
}

.start_button {
	width: 20vw;
	height: 40px;
	border: 1px solid white;
	border-radius: 100px;
	display: inline-block;
	visibility: visible;
	position: relative;
	top: 0;
	left: 0;
	text-decoration: none;
	color: #fff;
	-o-transition:color .2s ease-out, 0.5s ease-in;
	-ms-transition:color .2s ease-out, 0.5s ease-in;
	-moz-transition:color .2s ease-out, 0.5s ease-in;
	-webkit-transition:color .2s ease-out, 0.5s ease-in;
	transition:color .2s ease-out 0.5s ease-in;
}

.start_button_after_fade_in {
	background-color: #3B94ED;
	border-color: #3B94ED;
}

#start_button_text_wrapper {
	padding-top: 10px;
}

@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.animate-flicker {
   -webkit-animation: flickerAnimation 2s infinite;
   -moz-animation: flickerAnimation 2s infinite;
   -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

.dataText {
	position: absolute;
	top: 9vh;
	left: 5vw;
	width: 20vw;
	text-align: left;
	font-size: 1.1em;
}

.user_waiting_list_disclaimer {
	margin-top: 0;
	margin-bottom: 15px;
}